<%- include('./includes/start.ejs') %>
<%- include('./includes/headBody.ejs') %>
    <%- include('./includes/header.ejs') %>
    <div id="userInfoPanel">
        <a class="userInfoPanelBoxRight" href="/signup"> Signup </a>
        <a class="userInfoPanelBoxRight" href="/login"> Login </a>
    </div>
    <div id="buySell">
        <a href="/login">
                BUY
        </a>
        <a href="/login">
                SELL
        </a>    
    </div>
<%- include('./includes/end.ejs') %>
